In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a    0.340190
   b   -1.505022
   c   -0.394719
2  a    0.877740
   b    0.125435
   c    0.142359
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.340190
b   -1.505022
c   -0.394719
dtype: float64

In [6]:
ser[2]

a    0.877740
b    0.125435
c    0.142359
dtype: float64

In [7]:
ser[:,'a']

1    0.34019
2    0.87774
dtype: float64

In [8]:
dframe = ser.unstack()

In [9]:
dframe

         a         b         c
1  0.34019 -1.505022 -0.394719
2  0.87774  0.125435  0.142359

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [13]:
dframe2.index.names = ['Index_1','Index_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [14]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [16]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
Index_1 Index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27