In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0 -0.366147 -0.042166  X  alpha
1  1.214545 -2.402525  X   beta
2  0.994476  0.770653  Y  alpha
3 -0.283992 -2.091114  Y   beta
4  2.128086 -0.018291  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [5]:
group1.mean()

k1
X    0.424199
Y    0.355242
Z    2.128086
Name: dataset1, dtype: float64

In [6]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [7]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.214545
    JAN    0.994476
NY  FEB   -0.283992
    JAN    0.880969
Name: dataset1, dtype: float64

In [8]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.424199 -1.222345
Y   0.355242 -0.660231
Z   2.128086 -0.018291

In [9]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -0.366147 -0.042166
   beta   1.214545 -2.402525
Y  alpha  0.994476  0.770653
   beta  -0.283992 -2.091114
Z  alpha  2.128086 -0.018291

In [10]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [11]:
for name,group in dframe.groupby('k1'):
    print ("This is the %s group" %name)
    print (group)
    print ('\n')

This is the X group
   dataset1  dataset2 k1     k2
0 -0.366147 -0.042166  X  alpha
1  1.214545 -2.402525  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.994476  0.770653  Y  alpha
3 -0.283992 -2.091114  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  2.128086 -0.018291  Z  alpha

In [12]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print ("Key1 = %s, Key2 = %s" %(k1,k2))
    print (group)
    print ('\n')

Key1 = X, Key2 = alpha
   dataset1  dataset2 k1     k2
0 -0.366147 -0.042166  X  alpha


Key1 = X, Key2 = beta
   dataset1  dataset2 k1    k2
1  1.214545 -2.402525  X  beta


Key1 = Y, Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.994476  0.770653  Y  alpha


Key1 = Y, Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.283992 -2.091114  Y  beta


Key1 = Z, Key2 = alpha
   dataset1  dataset2 k1     k2
4  2.128086 -0.018291  Z  alpha

In [13]:
group_dict = dict(list(dframe.groupby('k1')))

In [14]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -0.366147 -0.042166  X  alpha
1  1.214545 -2.402525  X   beta

In [15]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0 -0.366147 -0.042166  X  alpha
 1  1.214545 -2.402525  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.994476  0.770653  Y  alpha
 3 -0.283992 -2.091114  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4  2.128086 -0.018291  Z  alpha}

In [16]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [17]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -0.366147 -0.042166
 1  1.214545 -2.402525
 2  0.994476  0.770653
 3 -0.283992 -2.091114
 4  2.128086 -0.018291, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [18]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group

In [19]:
dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.042166
   beta  -2.402525
Y  alpha  0.770653
   beta  -2.091114
Z  alpha -0.018291